<div class="blade-content __medium-wide">
    <div class="blade-inner">
        <div class="inner-block">
            <form name="detailForm">
                <fieldset ng-init="setForm(detailForm)">
                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.rating' | translate }}</label>
                                <!--<input ng-model="blade.currentEntity.rating"  />-->
                                <div class="form-input">
                                    <star-rating ng-model="customerRating" max="5" readonly="true"></star-rating>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{'customerReviews.blades.review-detail.labels.is-active' | translate}}</label>

                                <div class="form-input">
                                    <label class="form-label __switch">
                                        <input type="checkbox" ng-model="blade.currentEntity.isActive" />
                                        <span class="switch"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.created-by' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.createdBy"  readonly />
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.modified-by' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.modifiedBy"  readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.created-date' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.createdDate" datepicker-popup="" readonly />
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.modified-date' | translate }}</label>

                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.modifiedDate" datepicker-popup="" readonly />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.content' | translate }}</label>

                                <div class="form-input">
                                    <textarea ng-model="blade.currentEntity.content"
                                              name="content"
                                              placeholder="{{ 'customerReviews.blades.review-detail.labels.content' | translate }}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="columns clearfix">
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.like-count' | translate }} <span class="fa fa-thumbs-up" aria-hidden="true"></span></label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.likeCount" readonly />
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="form-group __info list">
                                <label class="form-label">{{ 'customerReviews.blades.review-detail.labels.dislike-count' | translate }} <span class="fa fa-thumbs-down" aria-hidden="true"></span></label>
                                <div class="form-input">
                                    <input ng-model="blade.currentEntity.dislikeCount" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </form>
            {{detailForm.$error}}

            <!--
             <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>
            -->

        </div>
    </div>
</div>